<form id="form">
  <div class="mb-3 row justify-content-start">

    <div class="col-6">
      <label for="nameVisit">Nom del sol·licitant</label>
      <input type="text" class="form-control" id="nameVisit" placeholder="nom del sol·licitant" required>
    </div>

    <div class="col-6">
      <label for="SurnamesVisit">Cognoms del sol·licitant</label>
      <input type="text" class="form-control" id="surnamesVisit" placeholder="cognoms del sol·licitant" required>
    </div>

  </div>

  <div class="mb-3 row justify-content-start">

    <div class="col-6">
      <label for="SchoolVisit">Nom del centre</label>
      <input type="text" class="form-control" id="schoolVisit" placeholder="Nom del centre" required>
    </div>

  </div>

  <div class="mb-3 row justify-content-start">

    <div class="col-6">
      <label for="emailVisit">Correu electrònic</label>
      <input type="email" class="form-control" id="emailVisit" placeholder="name@example.com">
      <div class="invalid-feedback">
        Siusplau, indica un correu electrònic vàlid.
      </div>
    </div>
    <div class="col-6">
      <label for="phoneVisit">Telèfon</label>
      <input type="tel" class="form-control" id="phoneVisit" placeholder="p.e. 123456789" required>
      <div class="invalid-feedback">
        Siusplau, indica un número de telèfon vàlid.
      </div>
    </div>

  </div>

  <div class="mb-3 row justify-content-start">

    <div class="col-6">
      <label for="NumVisit">Número d'assistents (Màxim 30 persones)</label>
      <input type="number" class="form-control" id="numVisit" placeholder="p.e. 25" required>
    </div>

    <div class="col-6">
      <label for="TypeVisit" id="types">Tipus d'assistents</label>
      <select class="form-select" id="typeVisit" required>
        <option selected> Selecciona el tipus de visita </option>
        <option value="Batxillerat">Batxillerat</option>
        <option value="ESO">ESO</option>
        <option value="CicleMitja">Cicle mitjà</option>
        <option value="CicleSuperior">Cicle superior</option>
        <option value="Primaria">Primària</option>
        <option value="Universitat">Universitat</option>
        <option value="FIB">FIB</option>
        <option value="Associacio">Associació</option>
        <option value="Extranger">Extranger</option>
        <option value="Particular">Particular</option>
        <option value="Altre">Altre</option>
      </select>
      <div class="invalid-feedback">
        Siusplau, selecciona un tipus de visita.
      </div>
    </div>

  </div>

  <div class="mb-3 row justify-content-start">
    <div class="col-6">
      <label for="CommentVisit">Comentaris</label>
      <textarea class="form-control" id="commentVisit" placeholder="Afegeix algún comentari en cas necessàri."></textarea>
    </div>
  </div>
</form>

<div class="mb-3 row justify-content-center">
  <button (click)=sendBookingToBackend() class="btn btn-primary btn-lg" id="submitButton">Reservar</button>
</div>

<div class="alert alert-success -align-center" role="alert" id="alert">
  {{result}}
</div>



