<div class="container">
  <div class="row justify-content-start">

    <div class="col-6">
      <label for="nameVisit">Nom del sol·licitant</label>
      <input type="text" class="form-control" id="nameVisit" placeholder="nom del sol·licitant">
    </div>

    <div class="col-6">
      <label for="SurnamesVisit">Cognoms del sol·licitant</label>
      <input type="text" class="form-control" id="SurnamesVisit" placeholder="cognoms del sol·licitant">
    </div>

  </div>

  <div class="row justify-content-start">

    <div class="col-6">
      <label for="SchoolVisit">Nom del centre</label>
      <input type="text" class="form-control" id="SchoolVisit" placeholder="Nom del centre">
    </div>

  </div>

  <div class="row justify-content-start">

    <div class="col-6">
      <label for="emailVisit">Correu electrònic</label>
      <input type="email" class="form-control" id="emailVisit" placeholder="name@example.com">
    </div>
    <div class="col-6">
      <label for="phoneVisit">Telèfon</label>
      <input type="tel" class="form-control" id="phoneVisit" placeholder="">
    </div>

  </div>

  <div class="row justify-content-start">

    <div class="col-6">
      <label for="NumVisit">Número d'assistents (Màxim 30 persones)</label>
      <input type="text" class="form-control" id="NumVisit" placeholder="p.e. 25">
    </div>

    <div class="col-6">
      <label for="TypeVisit">Tipus d'assistents</label>
      <select class="form-select" id="TypeVisit">
        <option selected>Open this select menu</option>
        <option value="Batxillerat">Batxillerat</option>
        <option value="ESO">ESO</option>
        <option value="Cicle mitjà">Cicle mitjà</option>
        <option value="Cicle superior">Cicle superior</option>
        <option value="Primària">Primària</option>
        <option value="Universitat">Universitat</option>
        <option value="FIB">FIB</option>
        <option value="Associació">Associació</option>
        <option value="Extranger">Extranger</option>
        <option value="Particular">Particular</option>
      </select>
    </div>

  </div>

  <div class="row justify-content-start">
    <div class="col-6">
      <label for="CommentVisit">Comentaris</label>
      <input type="text" class="form-control" id="CommentVisit" placeholder="Afegeix algún comentari en cas necessàri.">
    </div>
  </div>


  </div>
