<app-header fxLayout="column"></app-header>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-6">
      <h1> Visites al museu de la FIB</h1>
      <p class="h5">Es pot concertar visita seleccionant un dia i una hora disponible del calendari i,
        tot seguit, omplint el següent formulari. Un cop sol·licitada la visita, el guia
        l'acceptarà. Quan aquesta es trobi acceptada, s'enviarà un avís al responsable de
        la sol·licitud confirmant la data i hora demanades.</p>
    </div>
    <div class="col-4">
      <img src="assets/museu-1.jpg" class="img-fluid" width="600" height="450">
    </div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-4">
      <h4> DURACIÓ DE LES VISITES </h4>
      <p class="h5">Les visites solen durar una hora aproximadament. En cas que no hi hagi un altre grup
        esperant a la següent hora, es pot allargar la visita mitja hora més si aquest ho demana.</p>
    </div>
    <div class="col-4">
      <h4> AFORAMENT MÀXIM </h4>
      <p class="h5">El màxim de assistents per grup és de 30. En cas que aquest número es superi. S'ha de
        demanar una segona visita i repartir els assistents entre les dues visites.</p>
    </div>
    <div class="col-4">
      <h4> VISITES GUIADES </h4>
      <p class="h5">Les visites sempre són guiades i es poden impartir en català, castellà o anglés.</p>
    </div>
  </div>
</div>

<app-footer fxLayout="column"></app-footer>
