.listOfRequestedBookings {
  list-style-type: none;
  margin: 100px 200px;
}
.listOfRequestedBookings li {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
}
.listOfRequestedBookings li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.listOfRequestedBookings li.selected {
  background-color: #16c79a;
  color: white;
}

hr {
  color:gray;
  background-color: #16c79a;
  margin: 40px;
}
