<div class="text-center">
  <h1> Reserva la teva visita </h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-1 btn btn-primary" size="3x" id="buttonPrevious" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"><i class="fas fa-angle-left" aria-hidden="true"></i></div>
    <div class = "col-5 text-center">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
    </div>
    <div class = "col-1 -align-left btn btn-primary" size="3x" id="buttonNext" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
    <div class = "col-3 text-center">
      <h3 [hidden]="hiddenHours"> Escull hora per al dia {{currentDayClicked.getDate()}} </h3>
    </div>
</div>
  <div [ngSwitch]="view">
    <div class="row justify-content-evenly">

      <div class = "col-8">
        <div class="cal-month-view">
          <mwl-calendar-month-view [events]="events"
                                   [viewDate]="viewDate"
                                   [activeDay]="currentDayClicked"
                                   (dayClicked)="dayClicked($event.day, $event.sourceEvent)"
                                   [refresh] = refresh
                                   [locale]="locale"
                                   [weekStartsOn]="weekStartsOn"
                                   [excludeDays]=excludeDays
                                   (beforeViewRender)="beforeMonthViewRender($event)">
          </mwl-calendar-month-view>
        </div>
      </div>

      <div class="col-3">
        <div class="cal-day-view">
          <mwl-calendar-day-view [hidden]="hiddenHours"
                                 (hourSegmentClicked)="hourClicked($event)"
                                 [hourSegmentHeight]="sizeHourRange"
                                 [hourSegments]="lengthVisitsHours"
                                 [viewDate]="currentDayClicked"
                                 [locale]="locale"
                                 [dayStartHour]="dayStartHour"
                                 [dayEndHour]="dayEndHour">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="" [hidden]="(hiddenHours || hiddenBooking)">

<div class="container">

  <div class="row justify-content-center">
    <h3 [hidden]="(hiddenHours || hiddenBooking)"> Omple el següent formulari </h3>
  </div>

  <div class="row justify-content-center">
    <h4 [hidden]="(hiddenHours || hiddenBooking)"> Per a reservar el dia {{currentDayClicked.toLocaleString().split(" ")[0]}} a les {{currentHourClicked.toLocaleString().split(" ")[1]}} </h4>
  </div>

</div>

<app-booking-form [hidden]="(hiddenHours || hiddenBooking)" [currentDateTimeClicked]="currentHourClicked | date:'yyyy-MM-ddTHH:mm:ss.SSS'"></app-booking-form>
