<div class="text-center">
  <h1> Reserva la teva visita </h1>
</div>

<div class="container">
  <div class="row justify-content-evenly">
    <div class = "col-3">
      <button type="button" class="alert-primary" size="3x" ><i class="fas fa-angle-left" aria-hidden="true"></i></button>
    </div>
    <div class = "col-3 text-center">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
    </div>
    <div class = "col-3 text-right">
      <button type="button" class="alert-primary" size="3x" ><i class="fas fa-angle-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <div [ngSwitch]="view">
    <div class="row justify-content-evenly">
      <div class = "col-10">
        <div class="cal-month-view">
          <mwl-calendar-month-view *ngSwitchCase="'month'"
                                   [viewDate]="viewDate"
                                   [locale]="locale"
                                   [weekStartsOn]="weekStartsOn"
                                   [excludeDays]=excludeDays >
          </mwl-calendar-month-view>
        </div>
      </div>
      <div class="col-2">
        <div class="cal-day-view">
          <mwl-calendar-day-view
                                 [hidden]="hiddenHours"
                                 [hourSegmentHeight]="sizeHourRange"
                                 [hourSegments]="lengthVisitsHours"
                                 [viewDate]="viewDate"
                                 [locale]="locale"
                                 [dayStartHour]="dayStartHour"
                                 [dayEndHour]="dayEndHour">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>
